<app-nav></app-nav>
<div id="contieniProfilo">

    <img src="https://avatars.githubusercontent.com/u/163026351?v=4" alt="" id="fotoProfilo">
    <div class="modificaProfilo">
        <h1>Mattia Bagatella</h1>
        <button class="bg-dark"><i class="bi bi-pencil-fill"></i></button>
    </div>
    <p>Benvenuti nel mio Profilo</p>
    <button class="LogButton bg-dark" routerLink="">Log Out</button>

    <div>
        <h2>Articoli Caricati</h2>
        <hr>
        <div class="contieniArticoli">
            <div class="card" style="width: 18rem;">
                <div class="contieniFoto">
                        <img src="https://avatars.githubusercontent.com/u/163026351?v=4" class="card-img-top" alt="...">
                        <img src="https://avatars.githubusercontent.com/u/163026351?v=4" class="card-img-top" alt="...">
                        <img src="https://avatars.githubusercontent.com/u/163026351?v=4" class="card-img-top" alt="...">
                </div>
                <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="https://avatars.githubusercontent.com/u/163026351?v=4" class="card-img-top" alt="...">
                <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="https://avatars.githubusercontent.com/u/163026351?v=4" class="card-img-top" alt="...">
                <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="https://avatars.githubusercontent.com/u/163026351?v=4" class="card-img-top" alt="...">
                <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="https://avatars.githubusercontent.com/u/163026351?v=4" class="card-img-top" alt="...">
                <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="https://avatars.githubusercontent.com/u/163026351?v=4" class="card-img-top" alt="...">
                <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
    </div>

</div>


