<nav class="navbar navbar-expand-lg bg-dark border-bottom border-body" data-bs-theme="dark" >
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item" >
            <a class="nav-link active" aria-current="page" routerLink="../homepage"> 
              MENU<i class="bi bi-list" ></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="../profilo" >
              PROFILO<i class="bi bi-person-square"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="../preferiti">
              PREFERITI<i class="bi bi-star-fill"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="../chat">
              CHAT<i class="bi bi-chat-left-text-fill"></i>
            </a>
          </li>
          <li class="nav-item">
              <a class="nav-link" routerLink="../vendi">
              VENDI <i class="bi bi-plus-circle"></i>
            </a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-light" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>